body {
     background-color: black;
    background-image: linear-gradient( to right, rgb(210, 200, 11), transparent, blue );
}

* {
     margin: 0;
     padding: 0;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
     width: 100%;
     background-position: center;
     display: flex;
     justify-content: space-around;
}

.title {
     color: darkblue;
     font-size: 23px;
     
}

header {
     display:inline-block;
     margin-top:10px;
     margin-left: 5px;
     display: flex;
     align-items: center;
}

ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     display: flex;
     justify-content: space-around;
     color: black;
     font-size: 20px;
     width: 800px;
     margin-top: 20px;
   }

ul a {
     text-decoration: none;
     color: black;
     font-size: 20px;
     background-color:rgb(208, 255, 0); 
     border-radius: 30px;
     margin-top: 50px;
     align-items: center;
}

nav a{
     color: black;
     padding: 6px 16px;
     border-radius: 300px;
}

nav a:hover {
     background-color: black;
    background-image: linear-gradient( to right, rgb(3, 74, 255), rgb(246, 255, 0) );
     color: azure;
     border-radius: 100px;
     opacity: 40%;
}

.material-symbols-outlined {
     margin: 0;
     padding: 0;
     margin-top: 23px;
     margin-right: 150px;
     width: 10px;
     cursor: pointer ;
}

.typeO {
     font-family:'Times New Roman', Times, serif;
     margin: 0;
     margin: 200px 150px;
     display: flex;
     justify-content: space-between     ;
}

.drag {
     font-size: 50px;
}

.war {
color: red;
}


.paragraph {
     width: 550px;
     font-size: large;
     color: black;
}

.button {
     background-color: transparent;
     border-radius: 40px;
     margin-top: 50px;
     width: 140px;
     height: 40px;
     background-color: blue;
     color: white;
     font-family: "Roboto", sans-serif;
     font-size: 20px;
     box-shadow: 40px;
     border: transparent;
}

.button:hover {
     background-color: rgb(56, 5, 239);
     opacity: 70%;
     color: rgb(233, 192, 7);
     border: transparent;
     cursor: pointer;
}

.bnt {
     background-color: transparent;
     border-radius: 40px;
     margin-top: 50px;
     width: 140px;
     height: 40px;
     background-color: rgb(251, 255, 0);
     color: white;
     font-family: "Roboto", sans-serif;
     font-size: 20px;
     box-shadow: 40px;
     border: transparent;
}

.bnt:hover {
     background-color:rgb(251, 255, 0);
     opacity: 70%;
     color: rgb(233, 192, 7);
     border: transparent;
     cursor: pointer;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.bt{
  border:none;
  border-radius:10px;
  padding:15px 30px;
  font-size:18px;
  cursor:pointer;
margin: 14px 50px;
background-color: rgb(166, 174, 171);
}

.bt:hover{
  background-color:#ddd;
}

.dropdown-options {
  display: none;
  position: absolute;
  overflow: auto;
  background-color:black;
  border-radius:5px;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.dropdown:hover .dropdown-options {
  display: block;
}

.dropdown-options a {
  display: block;
  color: #ddd;
  padding: 5px;
  text-decoration: none;
  padding:20px 40px;
}

.dropdown-options a:hover {
  color: #ddd;
  background-color: rgba(203, 201, 201, 0.604);
  border-radius:5px;
}